<%- include('../shared/head.ejs') %>
</head>

<body>
    <%- include('../shared/navigation.ejs') %>
    <main class="flex flex-col container mx-auto mt-10 space-y-5">
        <form class="flex flex-row space-x-5">
            <input type="text" placeholder="What do you want to parse?" class="w-full rounded-lg border-2 border-gray-200 p-3 text-sm"></input>
        </form>
        <div class="flex flex-col w-full space-y-2 p-5">
            <% queries.forEach((query)=> { %>
                <div data-controller="queries"
                    class="flex flex-col w-full border-solid border-2 border-orange-300 rounded-lg p-5 space-y-5">
                    <div class="flex flex-row w-full text-gray-400 text-xs space-x-5">
                        <label data-queries-target="id">
                            <%= query.uuid %>
                        </label>
                        <label>
                            <%= query.updated_at %>
                        </label>
                        <div class="flex-grow"></div>
                        <button class="btn-danger">Delete</button>
                    </div>
                    <label>✍️ <%= query.contents %></label>
                    <div class="flex flex-row space-x-2">
                        <button data-queries-target="toggleGrammarTable" data-action="click->queries#toggleGrammarTable"
                            class="btn-primary btn-primary-deselected">Show Grammar Table</button>
                        <button data-queries-target="toggleGraph" data-action="click->queries#toggleGraph"
                            class="btn-primary btn-primary-deselected">Show Graph</button>
                        <button data-queries-target="toggleSimplified" data-action="click->queries#toggleSimplified"
                            class="btn-primary btn-primary-deselected">Show Simplified</button>
                    </div>
                    <div data-queries-target="grammarTable"
                        class="hidden w-full p-2 rounded-lg border border-gray-200 overflow-auto">
                        <%- include('./shared/grammarTable.ejs', { titleFields: titleFields, fieldValues:
                            JSON.parse(query.output_conll) })%>
                    </div>
                </div>
        <% }) %>
        </div>
    </main>

<%- include('../shared/end.ejs') %>